<div class="list">
  <div *ngFor="let challenge of challenges" class="challenge-list">
    <div class="header">
      {{challenge.name}} 
      <a *ngIf="!providerMode" [routerLink]="['provider', challenge.provider.id]">
        {{'by' | translate}} {{challenge.provider.name}}
        <img [src]="challenge.provider.logo" class="logo" *ngIf="challenge.provider.logo">
      </a>
      <a mat-button *ngIf="providerMode" [routerLink]="['/profile', 'challenge', challenge.id]">{{'Edit' | translate}}</a>
    </div>
    <items-carousel *ngIf="challenge.products?.length" [items]="challenge.products"></items-carousel>
  </div>
</div>