<form autocomplete="off" (submit)="signup()">
  <mat-dialog-content>
    <div>
      <mat-form-field class="">
        <input matInput placeholder="Email" id="email" name="email"
          [formControl]="emailFormControl" [errorStateMatcher]="errorStateMatcher">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>

        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="">
        <input matInput placeholder="Name" id="name" name="name"
          [formControl]="nameFormControl" [errorStateMatcher]="errorStateMatcher">
        <mat-error *ngIf="!nameFormControl.hasError('required')">
          Please enter Name
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="">
        <input matInput type="password" placeholder="Password" id="password" name="password"
          [formControl]="passwordFormControl" [errorStateMatcher]="errorStateMatcher">
        <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
          Password should have at least 6 characters
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">SignUp</button>
    <button mat-button (click)="close()">Cancel</button>
  </mat-dialog-actions>
</form>