<div class="container">
  <div class="header">
    <a [routerLink]="['/']" class="logo"></a>
    <nav>
      <ul class="lins-list">
        <li>
          <a mat-button [routerLink]="['']">Profile</a>
        </li>
        <li>
          <a mat-button [routerLink]="['products']">Products</a>
        </li>
        <li>
          <a mat-button [routerLink]="['challenges']">Challenges</a>
        </li>
        <li>
          <a mat-button [routerLink]="['orders']">Orders</a>
        </li>
        <li>
          <a mat-button (click)="makeReward()">Reward</a>
        </li>
        <li>
          <a mat-button (click)="logout()">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
  <hr>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
