<div class="container">
  <div class="header">
    <a [routerLink]="['/']" class="logo"></a>
    <nav>
      <ul class="lins-list">
        <li>
          <localization></localization>
        </li>
        <li class="show-desktop">
          <a mat-button [routerLink]="['products']">{{ 'Drinks' | translate }}</a>
        </li>
        <li class="show-desktop">
          <a mat-button [routerLink]="['challenges']">{{ 'Challenges' | translate }}</a>
        </li>
        <li class="show-desktop">
          <a mat-button (click)="makeReward()">{{ 'Add Reward' | translate }}</a>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-bars"></i> <span class="show-desktop">{{ 'Profile' | translate }}</span></button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item [routerLink]="['']">{{ 'My Profile' | translate }}</a>
            <a mat-menu-item class="show-mobile" (click)="makeReward()">{{ 'Add Reward' | translate }}</a>
            <a mat-menu-item class="show-mobile" [routerLink]="['products']">{{ 'Drinks' | translate }}</a>
            <a mat-menu-item class="show-mobile" [routerLink]="['challenges']">{{ 'Challenges' | translate }}</a>
            <a mat-menu-item [routerLink]="['orders']">{{ 'Orders' | translate }}</a>
            <a mat-menu-item (click)="logout()">{{ 'Logout' | translate }}</a>
          </mat-menu>
        </li>
      </ul>
    </nav>
  </div>
  <hr>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
