@import '~styles/variables';
@import '~styles/breakpoint';

h1 {
  font-size: 24px;
  margin: 10px 0;
  color: #fff;
  font-weight: $semi-bold;
}
.images {
  border-bottom: 1px solid $gray-lightest;
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  img {
    height: 200px;
    margin: 10px;
  }
}
.edit-form {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.details {
  display: flex;
  margin-bottom: 10px;
  @include breakpoint(lt-sm) {
    flex-direction: column;
    margin-top: 30px;
  }
  .info {
    width: 100%;
    display: flex;

    .main-info {
      margin-right: 20px;
      height: 100%;
      width: 100%;
    }
  }
  agm-map {
    height: 300px;
    width: 300px;
    margin-left: auto;
    @include breakpoint(lt-sm) {
      margin-top: 20px;
      width: 100%;
    }
  }
  .caption {
    color: #fff;
  }
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  .edit-columns {
    display: flex;
    .column {
      width: 100%;
      &:not(:last-child) {
        margin-right: 30px;
      }
      textarea {
        height: 100px;
      }
    }
  }
  .caption {
    color: #fff;
  }

  .form-data {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  button {
    margin-left: 10px;
  }
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  display: block;
  margin-bottom: 10px;
}