.container{
  padding: 20px 0 50px;
  display: flex;
  flex-direction: column;
}

.main-actions {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  button {
    margin-left: 10px;
  }
}