$nav-button-color: #00838F;

$gray-darkest: #0F0F0F;
$gray-darker: #3A3A3A;
$gray-normal: #646464;
$gray-lightest: #DDDFFF;

$green-normal: #66DEAF;
$red: #f44336;

// ----- font weight ----
$thin: 100;
$regular: 400;
$semi-bold: 600;
$bold: 800;
