@import '~styles/variables';

h2 {
  font-weight: 100;
  margin: 0 0 10px 0;
  &.tabs {
    display: flex;
    justify-content: space-between;
    a {
      width: 48%;
      text-align: center;
      background-color: #555;
      display: block;
      overflow: hidden;
      border-radius: 3px 3px 0 0;
      cursor: pointer;
      border: 1px solid #777;
      border-bottom: none;
      &.active {
        background-color: #333;
      }
    }
  }
}

.container {
  width: 300px;
  max-width: 100%;

  .mat-form-field {
    width: 100%;
  }
}
