<div class="container">
  <mat-card class="prouct-card">
    <div class="placeholder">
      <i class="fa fa-image"></i>
      <image-uploader class="add-image-btn" *ngIf="state === 'edit'" (uploaded)="imageAdded($event)"></image-uploader>
    </div>
    <ng-container *ngIf="product.image">
      <img [src]="product.image" class="product-image">
      <a class="remove-icon icon" *ngIf="state === 'edit'" (click)="removeImage()"><i class="fa fa-trash"></i></a>
    </ng-container>
  </mat-card>
  <div class="details" *ngIf="state !== 'edit'; else editBlock">
    <h1>{{product.name}}</h1>
    <hr/>
    <p>{{product.description}}</p>
    <div class="actions">
      <button mat-button type="button" (click)="changeStatus('edit')">Edit</button>
    </div>
  </div>
  <ng-template #editBlock>
    <form class="form" (submit)="saveProduct()" autocomplete="false">
      <mat-form-field class="form-data">
        <input matInput placeholder="Coctail Name" id="coctainName" name="coctainName" autocomplete="new-password"
        [formControl]="formControls.nameFormControl" [errorStateMatcher]="errorStateMatcher">
      </mat-form-field>
      <mat-form-field class="form-data">
        <textarea matInput placeholder="Description" name="description" id="description" [formControl]="formControls.descriptionFormControl" [errorStateMatcher]="errorStateMatcher">
        </textarea>
      </mat-form-field>
      <div class="actions">
        <button mat-button type="submit">Save</button>
        <button mat-button type="button" (click)="changeStatus('show')">Cancel</button>
      </div>
    </form>
  </ng-template>
</div>