<div class="container">
  <mat-card class="prouct-card">
    <img [src]="product.image" class="product-image">
  </mat-card>
  <div class="details">
    <div class="column">
      <h1>{{product.name}}</h1>
      <hr/>
      <p>{{product.description}}</p>
    </div>
    <div class="column">
      <div *ngIf="product.provider">
        <a [routerLink]="['/provider', product.provider.id]" class="no-decoration">
          <h2>
            {{product.provider.name}}
            <provider-logo [logo]="product.provider.logo" class="logo" [small]="true"></provider-logo>
          </h2>
        </a>
        <div>{{product.provider.address}}</div>
      </div>
    </div>
  </div>
</div>