<div class="container">
  <div class="header">
    <div class="content">
      <a [routerLink]="['/']" class="logo"></a>
      <nav>
        <ul class="nav-links">
          <ng-container *ngIf="!customer?.id; else userBlock">
            <li>
              <localization></localization>
            </li>
            <li>
              <a mat-button (click)="openProviderLogin()">{{'Login as Provider' | translate}}</a>
            </li>
            <li>
              <a mat-button (click)="openLogin()">{{'Login' | translate}}</a>
            </li>
          </ng-container>
          <ng-template #userBlock>
            <li>
              <div class="id-title">{{'YOUR CODE:' | translate}} <b>{{customer.id}}</b></div>
            </li>
            <li>
              <localization></localization>
            </li>
            <li>
              <a mat-button [routerLink]="['/orders']">{{'Orders' | translate}}</a>
            </li>
            <li>
              <a mat-button (click)="logout()">{{'Logout' | translate}}</a>
            </li>
          </ng-template>
        </ul>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
