<div class="container">
  <div class="header">
    <div class="content">
      <a [routerLink]="['/']" class="logo"></a>
      <nav>
        <ul class="nav-links">
          <ng-container *ngIf="!customer?.id; else userBlock">
            <li>
              <a mat-button (click)="openProviderLogin()">Login as Bar</a>
            </li>
            <li>
              <a mat-button (click)="openLogin()">Login</a>
            </li>
          </ng-container>
          <ng-template #userBlock>
            <li>
              <div class="id-title">YOUR CODE: <b>{{customer.id}}</b></div>
            </li>
            <li>
              <a mat-button [routerLink]="['/orders']">Orders</a>
            </li>
            <li>
              <a mat-button (click)="logout()">Logout</a>
            </li>
          </ng-template>
        </ul>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
